@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
.navbarContainer {
  background-color: transparent !important;
  box-shadow: none !important;
}
.overlay {
  height: 100vh !important;
  width: 100vw !important;
}
.intro h1 {
  font-family: sans-serif !important;
}
